name: telegram bot runner

on:
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    env:
      REPO: ${{ secrets.REPO }}
      PAT: ${{ secrets.PAT }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: install deps
        run: pip install python-dotenv python-telegram-bot requests

      - name: run bot
        run: python bot.py
